/* General Modal Padding */
ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  /* Error Message Styling */
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
  }
  