<div class="tournament-participants-box">
  <h2 class="frame-title">{{ 'PENDING_INVITES.PENDING_INVITATIONS' | translate }}</h2>

  <ion-list class="tournament-participants-list" *ngIf="pendingParticipants.length > 0">
    <ion-item *ngFor="let participant of pendingParticipants" class="tournament-participants-item">
      <div class="tournament-participants-grid">
        <div class="tournament-participants-details">
          {{ participant.userName }} ({{ participant.role }})<br />
          <small>{{ participant.userEmail }}</small>
        </div>
        <div class="tournament-participants-actions">
          <ion-button size="small" color="medium" (click)="confirmResendInvite(participant.userEmail)">
            {{ 'PENDING_INVITES.RESEND' | translate }}
          </ion-button>
          <ion-button size="small" color="danger" (click)="confirmExcludeInvite(participant.userEmail)">
            {{ 'PENDING_INVITES.EXCLUDE' | translate }}
          </ion-button>          
        </div>
      </div>
    </ion-item>
  </ion-list>

  <p class="no-participants-message" *ngIf="!isLoading && pendingParticipants.length === 0">
    {{ 'PENDING_INVITES.NO_INVITATIONS' | translate }}
  </p>

  <ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
</div>
