<form [formGroup]="settingsForm" class="form-container">

  <div class="page-description">
    <p>{{ 'STAGE_SETTINGS.DESCRIPTION' | translate }}</p>
  </div>

  <!-- Exact Result Bonus -->
  <div class="grid-frame">
    <ion-grid class="settings-grid">
      <ion-row class="align-center">
        <ion-col size="8" class="left-align section-title">
          <ion-label>{{ 'STAGE_SETTINGS.EXACT_RESULT_BONUS_TITLE' | translate }}</ion-label>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-toggle formControlName="allowExactResultBonus"></ion-toggle>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-button fill="clear" size="small" id="exactBonusInfo">
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-popover [keepContentsMounted]="true" trigger="exactBonusInfo">
            <ng-template>
              <ion-content class="ion-padding">{{ 'STAGE_SETTINGS.EXACT_RESULT_BONUS_INFO' | translate }}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="settingsForm.value.allowExactResultBonus">
      <ion-label class="form-label">{{ 'STAGE_SETTINGS.BONUS_CALCULATION_TYPE' | translate }}</ion-label>
      <ion-select formControlName="exactResultBonusCalculation">
        <ion-select-option *ngFor="let type of exactBonusTypes" [value]="type.value">
          {{ type.label }}
        </ion-select-option>
      </ion-select>

      <ion-label class="form-label">{{ 'STAGE_SETTINGS.EXACT_RESULT_BONUS_VALUE' | translate }}</ion-label>
      <ion-input type="number" formControlName="exactResultBonus" placeholder="{{ 'STAGE_SETTINGS.ENTER_BONUS_VALUE' | translate }}"></ion-input>
    </div>
  </div>

  <!-- Who Qualifies Bets -->
  <div class="grid-frame">
    <ion-grid class="settings-grid">
      <ion-row class="align-center">
        <ion-col size="8" class="left-align section-title">
          <ion-label>{{ 'STAGE_SETTINGS.ALLOW_WHO_QUALIFIES_BETS' | translate }}</ion-label>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-toggle formControlName="allowWhoQualifiesBets"></ion-toggle>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-button fill="clear" size="small" id="whoQualifiesInfo">
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-popover [keepContentsMounted]="true" trigger="whoQualifiesInfo">
            <ng-template>
              <ion-content class="ion-padding">{{ 'STAGE_SETTINGS.WHO_QUALIFIES_BETS_INFO' | translate }}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Bets with Booster 
  <div class="grid-frame">
    <ion-grid class="settings-grid">
      <ion-row class="align-center">
        <ion-col size="8" class="left-align section-title">
          <ion-label>{{ 'STAGE_SETTINGS.ALLOW_BETS_WITH_BOOSTER' | translate }}</ion-label>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-toggle formControlName="allowBetsWithBooster"></ion-toggle>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-button fill="clear" size="small" id="bonusAmountInfo">
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-popover [keepContentsMounted]="true" trigger="bonusAmountInfo">
            <ng-template>
              <ion-content class="ion-padding">{{ 'STAGE_SETTINGS.BETS_WITH_BOOSTER_INFO' | translate }}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="settingsForm.value.allowBetsWithBooster">
      <ion-label class="form-label">{{ 'STAGE_SETTINGS.MAX_BET_BOOSTER' | translate }}</ion-label>
      <ion-range min="1" [max]="settingsForm.value.totalBoosterPool" step="1" formControlName="maxBetBooster"></ion-range>

      <ion-label class="form-label">{{ 'STAGE_SETTINGS.TOTAL_BOOSTER_POOL' | translate }}</ion-label>
      <ion-input type="number" formControlName="totalBoosterPool" placeholder="{{ 'STAGE_SETTINGS.ENTER_BOOSTER_POOL_SIZE' | translate }}"></ion-input>
    </div>
  </div> -->

  <!-- Non-Submitted Bet Penalty -->
  <div class="grid-frame">
    <ion-grid class="settings-grid">
      <ion-row class="align-center">
        <ion-col size="8" class="left-align section-title">
          <ion-label>{{ 'STAGE_SETTINGS.APPLY_PENALTY_NO_BET' | translate }}</ion-label>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-toggle formControlName="allowNonSubmittedBetsPenalty"></ion-toggle>
        </ion-col>
        <ion-col size="2" class="right-align">
          <ion-button fill="clear" size="small" id="penaltyInfo">
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-popover [keepContentsMounted]="true" trigger="penaltyInfo">
            <ng-template>
              <ion-content class="ion-padding">{{ 'STAGE_SETTINGS.PENALTY_INFO' | translate }}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="settingsForm.value.allowNonSubmittedBetsPenalty">
      <ion-label class="form-label">{{ 'STAGE_SETTINGS.PENALTY_POINTS' | translate }}</ion-label>
      <ion-input type="number" formControlName="nonSubmittedBetPenalty" placeholder="{{ 'STAGE_SETTINGS.ENTER_PENALTY_VALUE' | translate }}"></ion-input>
    </div>
  </div>

</form>
