# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/

# ===============================
# .NET
# ===============================
bin/
obj/
.vs/

# ===============================
# Backend secrets (LOCAL ONLY)
# ===============================
Backend/appsettings.*.local.json

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store

Backend/appsettings.json
**/*.pubxml.user

