<ion-content class="ion-padding">
  <ion-list class="bet-list">
    <ion-item *ngFor="let bet of bets" class="bet-item">
      <div class="bet-grid">
        <!-- Teams Column -->
        <div class="bet-details">
          <span class="team">{{ bet.match.teamHome }}</span>
          <span class="team">{{ bet.match.teamAway }}</span>
        </div>

        <!-- Result Column -->
        <div class="bet-result">
          <span class="home-goals">{{ bet.playerHomeGoals || '-' }}</span>
          <span class="away-goals">{{ bet.playerAwayGoals || '-' }}</span>
        </div>

        <!-- Date & Time Column -->
        <div class="bet-date">
          <span class="date">{{ bet.match.startTime | date: 'yyyy.MM.dd' }}</span>
          <span class="time">{{ bet.match.startTime | date: 'HH:mm' }}</span>
        </div>

        <!-- Button Column -->
        <div class="bet-button-container">
          <ion-button size="small" class="bet-button" (click)="editBet(bet, $event)">Edit Bet</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
