.tournament-results-box {
  background: #f5f5f5 !important;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tournament-results-box:hover {
  background: #ebebeb !important;
}

.frame-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0px 0px 10px 0px;
  text-align: left;
}

.no-results-message {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

.tournament-results-list {
  --background: transparent !important;
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background: transparent !important;
}

.tournament-results-item {
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --ion-item-background: transparent !important;
  background: none !important;
  
  height: 40px;
  --min-height: 60px !important;
  --max-height: 60px !important;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-right: 0px;
  background: transparent !important;
}

.position {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.player-name {
  font-size: 12px;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight-player {
  font-weight: bold;
  color: #4CAF50 !important;
}

.points {
  font-size: 12px;
  color: #666;
  text-align: right;
  white-space: nowrap;
}

.tournament-results-clickable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: transparent !important;
}