.bet-list {
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.bet-item {
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --ion-item-background: transparent;
  
  height: 60px;
  --min-height: 60px !important;
  --max-height: 60px !important;
  display: flex;
  align-items: center;
}
  
  .bet-grid {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-right: 0px;
  }
  
  .bet-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    color: #333;
  }
  
  .bet-player-prediction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #444;
  }
  
  .bet-actual-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #222;
  }

.bet-result {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  color: #333;
}

.bet-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px !important;
}

.preview-button {
  font-size: 18px;
  color: var(--ion-color-primary);
  padding-left: 10px !important;
  padding-right: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  --border-radius: 0px;
}

.no-matches {
  text-align: center;
  font-size: 1.2em;
  color: gray;
  margin-top: 20px;
}

.in-progress {
  color: #32cd32;
  font-weight: bold;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}