.bet-list {
  --padding-top: 0px !important;
  --padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Remove padding/margin from ion-item */
.bet-item {
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --ion-item-background: transparent;
  
  height: 60px; /* Fixed height for all match rows */
  --min-height: 60px !important;
  --max-height: 60px !important;
  display: flex;
  align-items: center; /* Centers content vertically */
}
  
  /* Grid layout */
  .bet-grid {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 2fr 1fr;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-right: 0px;
  }
  
  /* Teams Column */
  .bet-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    color: #333;
  }
  
  /* Player Prediction Column */
  .bet-player-prediction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #444;
  }
  
  /* Actual Game Result Column */
  .bet-actual-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #222;
  }

  /* Remove extra formatting from bet result */
.bet-result {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;  /* Match other columns */
  color: #333;      /* Match text color */
}

.bet-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px !important;  /* Ensure no padding from container */
}

/* Remove Internal Padding from the Preview Button */
.preview-button {
  font-size: 18px;
  color: var(--ion-color-primary);
  padding-left: 10px !important;  /* No left padding */
  padding-right: 0px !important; /* Small right padding */

  /* Override Native Button Padding */
  --padding-start: 0px !important; /* Remove Ionic button's internal left padding */
  --padding-end: 0px !important;   /* Keep small right padding */
  --border-radius: 0px; /* Optional: Adjust if necessary */
}

.no-matches {
  text-align: center;
  font-size: 1.2em;
  color: gray;
  margin-top: 20px;
}

.in-progress {
  color: #32cd32;
  font-weight: bold;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

