<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
      <p>{{ 'LOGIN.DESCRIPTION' | translate }}</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Email Field -->
        <ion-item>
          <ion-label position="floating">{{ 'LOGIN.EMAIL' | translate }}</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['email'].invalid && f['email'].touched">
            {{ 'LOGIN.EMAIL_ERROR' | translate }}
          </p>
        </div>

        <!-- Password Field -->
        <ion-item>
          <ion-label position="floating">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['password'].invalid && f['password'].touched">
            {{ 'LOGIN.PASSWORD_ERROR' | translate }}
          </p>
        </div>

        <!-- Action Links -->
        <p class="forgot-password">
          <a (click)="navigateToForgotPassword()">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a> | 
          <a (click)="navigateToResendActivation()">{{ 'LOGIN.RESEND_ACTIVATION' | translate }}</a>
        </p>

        <div class="button-group">
          <ion-button expand="full" color="medium" class="rounded-button" type="submit" [disabled]="loginForm.invalid">
            {{ 'LOGIN.SUBMIT' | translate }}
          </ion-button>
        </div>
      </form>

      <p class="switch-auth">
        {{ 'LOGIN.NO_ACCOUNT' | translate }} <a (click)="navigateToRegister()">{{ 'LOGIN.SIGN_UP' | translate }}</a>
      </p>
    </div>
    
  </div>
</ion-content>

<app-language-fab></app-language-fab>
