<ng-container *ngIf="startedMatches.length > 0 || isLoading">
  <div class="started-matches-box"
       [ngClass]="{ 'has-started-matches': startedMatches.length > 0 }"
       (click)="navigateToCustomMatches()">
       
    <h2 class="started-matches-title">{{ 'STARTED_MATCHES.TITLE' | translate }}</h2>

    <!--<ion-spinner *ngIf="isLoading" class="started-matches-spinner" name="crescent"></ion-spinner>-->

    <ion-list class="started-match-list" *ngIf="!isLoading && startedMatches.length > 0">
      <ion-item class="started-match-item" *ngFor="let match of startedMatches">
        <div class="started-match-grid">
          <div class="started-match-details">
            <span class="teams">{{ match.homeTeam }} - {{ match.awayTeam }}</span>
          </div>
          <div class="started-match-date">
            <span class="date-time">{{ match.matchStart | date: 'yyyy.MM.dd HH:mm' }}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ng-container>
