<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>{{ 'SETUP.TITLE' | translate }}</h2>
      <p>{{ 'SETUP.DESCRIPTION' | translate }}</p>

      <form [formGroup]="setupForm" (ngSubmit)="submit()">
        <!-- Password -->
        <ion-item>
          <ion-label position="floating">{{ 'SETUP.NEW_PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['password'].invalid && f['password'].touched">
            {{ 'SETUP.PASSWORD_ERROR' | translate }}
          </p>
        </div>

        <!-- Confirm Password -->
        <ion-item>
          <ion-label position="floating">{{ 'SETUP.CONFIRM_PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="setupForm.errors?.['passwordsMismatch']">
            {{ 'SETUP.CONFIRM_ERROR' | translate }}
          </p>
        </div>

        <!-- Terms and Conditions -->
        <ion-item lines="none" class="terms-item">
          <ion-checkbox formControlName="consent" slot="start"></ion-checkbox>
          <ion-label class="terms-label" (click)="toggleConsent($event)">
            {{ 'SETUP.CONSENT_TEXT' | translate }}
            <a (click)="openTerms($event)">{{ 'SETUP.TERMS_LINK' | translate }}</a>
          </ion-label>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="!f['consent'].value && f['consent'].touched">
            {{ 'SETUP.CONSENT_ERROR' | translate }}
          </p>
        </div>

        <div class="button-group">
          <ion-button expand="full" color="medium" class="rounded-button" type="submit" [disabled]="setupForm.invalid">
            {{ 'SETUP.SUBMIT' | translate }}
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<app-language-fab></app-language-fab>
