<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>{{ 'LOGOUT.TITLE' | translate }}</h2>
      <p>{{ 'LOGOUT.MESSAGE' | translate }}</p>

      <div class="button-group">
        <ion-button expand="full" color="medium" class="rounded-button" (click)="navigateToLogin()">
          {{ 'LOGOUT.GO_TO_LOGIN' | translate }}
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>
