<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>Resend Activation Email</h2>
      <p class="resend-text">
        Enter your email address and we’ll send a new activation link.
      </p>

      <form [formGroup]="resendActivationForm" (ngSubmit)="resendActivation()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['email'].invalid && f['email'].touched">
            Please enter a valid email.
          </p>
        </div>

        <div class="button-group">
          <ion-button expand="full" color="medium" class="rounded-button" type="submit" [disabled]="resendActivationForm.invalid">
            Send Email
          </ion-button>
        </div>
      </form>

      <p class="back-link">
        <a (click)="navigateToLogin()">Back to Login</a>
      </p>
    </div>

  </div>
</ion-content>
