<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>{{ 'RESEND.TITLE' | translate }}</h2>
      <p class="resend-text">
        {{ 'RESEND.DESCRIPTION' | translate }}
      </p>

      <form [formGroup]="resendActivationForm" (ngSubmit)="resendActivation()">
        <ion-item>
          <ion-label position="floating">{{ 'RESEND.EMAIL' | translate }}</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['email'].invalid && f['email'].touched">
            {{ 'RESEND.EMAIL_ERROR' | translate }}
          </p>
        </div>

        <div class="button-group">
          <ion-button expand="full" color="medium" class="rounded-button" type="submit" [disabled]="resendActivationForm.invalid">
            {{ 'RESEND.BUTTON' | translate }}
          </ion-button>
        </div>
      </form>

      <p class="back-link">
        <a (click)="navigateToLogin()">{{ 'RESEND.BACK' | translate }}</a>
      </p>
    </div>

  </div>
</ion-content>

<app-language-fab></app-language-fab>
