<ion-content class="ion-padding">
  <div class="welcome-container">
    <h2>Login</h2>
    <p>Enter your credentials to access your account.</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Email Field -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="validation-message">
        <p class="error" *ngIf="f['email'].invalid && f['email'].touched">
          Please enter a valid email.
        </p>
      </div>

      <!-- Password Field -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="validation-message">
        <p class="error" *ngIf="f['password'].invalid && f['password'].touched">
          Password is required.
        </p>
      </div>

      <p class="forgot-password">
        <a (click)="navigateToForgotPassword()">Forgot Password?</a>
      </p>

      <div class="button-group">
        <ion-button expand="full" color="primary" class="rounded-button" type="submit" [disabled]="loginForm.invalid">
          Login
        </ion-button>
      </div>
    </form>

    <p class="switch-auth">
      Don't have an account? <a (click)="navigateToRegister()">Sign Up</a>
    </p>
  </div>
</ion-content>
