<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>{{ 'REGISTER.TITLE' | translate }}</h2>
      <p>{{ 'REGISTER.DESCRIPTION' | translate }}</p>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- Email Field -->
        <ion-item>
          <ion-label position="floating">{{ 'REGISTER.EMAIL' | translate }}</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['email'].invalid && f['email'].touched">
            {{ 'REGISTER.EMAIL_ERROR' | translate }}
          </p>
        </div>

        <!-- Password Field -->
        <ion-item>
          <ion-label position="floating">{{ 'REGISTER.PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['password'].invalid && f['password'].touched">
            {{ 'REGISTER.PASSWORD_ERROR' | translate }}
          </p>
        </div>

        <!-- Confirm Password Field -->
        <ion-item>
          <ion-label position="floating">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched">
            {{ 'REGISTER.CONFIRM_PASSWORD_ERROR' | translate }}
          </p>
        </div>

        <!-- Terms and Conditions -->
        <ion-item lines="none" class="terms-item">
          <ion-checkbox formControlName="consent" slot="start"></ion-checkbox>
          <ion-label class="terms-label" (click)="toggleConsent($event)">
            {{ 'REGISTER.CONSENT_TEXT' | translate }}
            <a (click)="openTerms($event)">{{ 'REGISTER.TERMS_LINK' | translate }}</a>
          </ion-label>
        </ion-item>
        
        <div class="validation-message">
          <p class="error" *ngIf="!f['consent'].value && f['consent'].touched">
            {{ 'REGISTER.CONSENT_ERROR' | translate }}
          </p>
        </div>

        <div class="button-group">
          <ion-button expand="full" color="medium" class="rounded-button" type="submit" [disabled]="registerForm.invalid">
            {{ 'REGISTER.SUBMIT' | translate }}
          </ion-button>
        </div>
      </form>

      <p class="switch-auth">
        {{ 'REGISTER.ALREADY_ACCOUNT' | translate }} <a (click)="navigateToLogin()">{{ 'REGISTER.LOGIN_LINK' | translate }}</a>
      </p>
    </div>

  </div>
</ion-content>

<app-language-fab></app-language-fab>
