<div class="page-description">
  <p>
    {{ 'STAGE_MATCHES_MANAGEMENT.DESCRIPTION' | translate }}
  </p>
</div>

<ion-list class="match-list nav-menu-space" [ngClass]="{ 'mobile-view': isMobile }">
  <ion-item *ngFor="let match of matchesArray.controls; let i = index"
            class="match-item"
            [formGroup]="getMatchControl(i)"
            [ngClass]="getRecordStatusClass(getMatchControl(i).get('recordStatus')?.value)">
    <div class="match-grid">
      <!-- Home and Away Team Names -->
      <div class="match-details">
        <span class="team">{{ getMatchControl(i).get('homeTeam')?.value }}</span>
        <span class="team">{{ getMatchControl(i).get('awayTeam')?.value }}</span>
      </div>

      <!-- Date and Time -->
      <div class="match-date">
        <span class="date">{{ getMatchControl(i).get('matchStart')?.value | date: 'yyyy.MM.dd' }}</span>
        <span class="time">{{ getMatchControl(i).get('matchStart')?.value | date: 'HH:mm' }}</span>
      </div>

      <!-- Buttons: Edit and Delete/Undo -->
      <div class="match-button-container">
        <ion-button size="small" fill="outline" color="primary" class="match-button" (click)="openEditModal(i)">
          <ng-container *ngIf="!isMobile">
            {{ 'STAGE_MATCHES_MANAGEMENT.EDIT' | translate }}
          </ng-container>
          <ion-icon *ngIf="isMobile" name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button size="small" fill="outline"
                    [color]="getDeleteButtonColor(getMatchControl(i).get('recordStatus')?.value)"
                    class="match-button fixed-button"
                    (click)="handleRemoveOrUndoMatch(i)">
          <ng-container *ngIf="!isMobile">
            {{ getDeleteButtonText(getMatchControl(i).get('recordStatus')?.value) }}
          </ng-container>
          <ion-icon *ngIf="isMobile" [name]="getDeleteIcon(getMatchControl(i).get('recordStatus')?.value)" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>
