<ion-content class="ion-padding page-with-header">
  <div class="page-container">
    <div *ngIf="step === 1">
      <app-stage-input-type
        [tournamentForm]="tournamentForm"
        [isEditMode]="isEditMode"
        [isPredefinedTournament]="true"
        (teamsExtracted)="handleTeamsExtracted($event)"
        (stagesExtracted)="handleStagesExtracted($event)"
        (matchesExtracted)="handleMatchesExtracted($event)">
      </app-stage-input-type> 
    </div>
    
    <div *ngIf="step === 2">
      <app-stage-teams-management
        [teamsArray]="teamsArray"
        (teamsUpdated)="handleTeamsUpdated($event)">
      </app-stage-teams-management>
    </div>

    <div *ngIf="step === 3">
      <app-stage-stages-management
        [stagesArray]="stagesArray"
        (stagesUpdated)="handleStagesUpdated($event)">
      </app-stage-stages-management>
    </div>

    <div *ngIf="step === 4">
      <app-stage-matches-management
        [matchesArray]="matchesArray"
        [teamsArray]="teamsArray.value"
        [stagesArray]="stagesArray.value"
        (matchesUpdated)="handleMatchesUpdated($event)">
      </app-stage-matches-management>
    </div>

    <div *ngIf="step === 5">
      <app-stage-summary
        [tournamentName]="tournamentForm.get('tournamentName')?.value"
        [teamsArray]="teamsArray.value"
        [matchesArray]="matchesArray.value">
      </app-stage-summary>
    </div>
  </div>

  <div class="button-container">
    <div class="button-inner">
      <!-- Previous Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step !== 1"
          color="medium"
          class="third-width"
          (click)="prevStep()">
          {{ 'BUILD_PREDEFINED.PREVIOUS' | translate }}
        </ion-button>
      </div>
  
      <!-- Add / Submit Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step === 2 || step === 3 || step === 4"
          color="medium"
          class="third-width"
          (click)="openAddModal()">
          {{ 'BUILD_PREDEFINED.ADD' | translate }}
        </ion-button>
  
        <ion-button
          *ngIf="step === 5"
          class="third-width"
          color="dark"
          (click)="submitTournament()">
          {{ 'BUILD_PREDEFINED.SUBMIT' | translate }}
        </ion-button>
      </div>
  
      <!-- Next Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step !== 5"
          color="medium"
          class="third-width"
          (click)="nextStep()">
          {{ 'BUILD_PREDEFINED.NEXT' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
