.header-text {
    font-size: 14px; /* Smaller font size for headers */
    font-weight: bold;
  }
  
  .item-text {
    font-size: 13px; /* Smaller font size for notification descriptions */
  }
  
  .center-text {
    text-align: center;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc; /* Light gray underline */
    margin-bottom: 5px;
  }
  