@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '@ionic/angular/css/palettes/dark.system.css';

/* Fixed header and footer */
ion-header, ion-footer {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

ion-header {
  top: 0;
  height: 56px;
}

ion-footer.custom-footer {
  bottom: 0;
  height: 56px;
}

/* Scrollable content with fixed header/footer offset */
ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  --overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

ion-content::-webkit-scrollbar,
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

/* Centered scrollable page container */
.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - 112px); // offset for header + footer
  margin-top: 40px;     // ion-padding of 16 + 40 = 56
  margin-bottom: 40px;  // ion-padding of 16 + 40 = 56
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  box-sizing: border-box;
}

/* Menu content offset */
ion-menu ion-content {
  --padding-top: 56px;
  --padding-bottom: 56px;
}

ion-menu::part(content) {
  padding-top: 56px;
  padding-bottom: 56px;
  box-sizing: border-box;
}

/* Modal header fix */
ion-modal ion-content {
  --padding-top: 70px !important;
  padding-top: var(--padding-top) !important;
  box-sizing: border-box;
}

/* Spinner positioning */
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: #3880ff;
}

/* Version text in menu */
ion-menu .version-text {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: lightgray;
  padding: 15px 0 10px;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  .page-container {
    max-width: 600px;
    padding: 0 15px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15);
  }

  ion-modal ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 56px;
  }

  ion-toolbar {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  ion-modal ion-content {
    --padding-start: 40px;
    --padding-end: 40px;
  }
}
