<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2 *ngIf="confirmationSuccess">{{ 'CONFIRM.SUCCESS_TITLE' | translate }}</h2>
      <h2 *ngIf="!confirmationSuccess">{{ 'CONFIRM.FAILURE_TITLE' | translate }}</h2>

      <p *ngIf="isLoading">{{ 'CONFIRM.PROCESSING' | translate }}</p>
      <p *ngIf="!isLoading">{{ message }}</p>

      <div class="button-group">
        <ion-button *ngIf="confirmationSuccess" expand="full" color="medium" class="rounded-button" (click)="navigateToLogin()">
          {{ 'CONFIRM.GO_TO_LOGIN' | translate }}
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>

<app-language-fab></app-language-fab>
