.bets-overview-grid {
  width: 100%;
}

.centered-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-names,
.match-score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.player-name {
  text-align: left !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
}

.betting-row {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.no-margin {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.home-bg {
  background-color: #003366;
}

.draw-bg {
  background-color: #607D8B;
}

.away-bg {
  background-color: #9E9E9E;
}

.homeQ-bg {
  background-color: #003366;
}

.awayQ-bg {
  background-color: #9E9E9E;
}

.betting-bar {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.progress-bar {
  display: flex;
  width: 100%;
  height: 30px;
  border-radius: 0px;
  overflow: hidden;
  padding: 0px 0 !important;
  margin: 0 !important;
}

.progress-bar.compact {
  height: 30px;
}

.bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 0px 0;
}

.home,
.homeQ {
  background-color: #003366;
}

.draw {
  background-color: #607D8B;
}

.away,
.awayQ {
  background-color: #9E9E9E;
}

.bet-table-header {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px 0;
}

.bet-table-body {
  font-size: 10px;
}

.bet-result {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.success {
  background-color: #4caf50;
  color: #4caf50;
}

.failure {
  background-color: #f44336;
  color: #f44336;
}

.success-icon {
  color: #4caf50;
  font-size: 1.2rem;
}

.failure-icon {
  color: #f44336;
  font-size: 1.2rem;
}

ion-row > ion-col {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bets-overview-grid ion-row.user-bet-row {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease-in-out;
  cursor: default;

  &:hover {
    background-color: #F7F8FE;
  }
}
