.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 56px;
  margin-bottom: 55px;
}

.third-width {
  width: 100%;
  text-align: center;
  padding: 0;
  height: 40px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button-inner {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
}

.button-slot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: #3880ff;
}