<ion-content class="ion-padding page-with-header">
  <div class="page-container">
    <div *ngIf="step === 1">
      <app-stage-input-type
        [showPredefinedImport]="true"
        [tournamentForm]="tournamentForm"
        (teamsExtracted)="handleTeamsExtracted($event)"
        (matchesExtracted)="handleMatchesExtracted($event)"
        (tournamentSelected)="populateForm($event)">
      </app-stage-input-type>   
    </div>

    <div *ngIf="step ===2">
        <app-stage-settings
        [settingsData]="settingsGroup.value"
        (settingsUpdated)="handleSettingsUpdated($event)">
      </app-stage-settings>
    </div>
  
    <div *ngIf="step === 3">
      <app-stage-teams-management
        [teamsArray]="teamsArray"
        (teamsUpdated)="handleTeamsUpdated($event)">
      </app-stage-teams-management>
    </div>
    
    <div *ngIf="step === 4">
      <app-stage-matches-management
        [matchesArray]="matchesArray"
        [teamsArray]="teamsArray.value"
        (matchesUpdated)="handleMatchesUpdated($event)">
      </app-stage-matches-management>
    </div>
  
    <div *ngIf="step === 5">
      <app-stage-users-management
        [usersArray]="usersArray"
        (usersUpdated)="handleUsersUpdated($event)">
      </app-stage-users-management>
    </div>

    <div *ngIf="step === 6">
      <app-stage-summary
        [tournamentName]="tournamentForm.get('tournamentName')?.value"
        [teamsArray]="teamsArray.value"
        [matchesArray]="matchesArray.value"
        [usersArray]="usersArray.value">
      </app-stage-summary>
    </div>
  
    <div class="button-container">
      <!-- Slot 1: Previous Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step !== 1"
          class="third-width"
          (click)="prevStep()">
          Previous
        </ion-button>
      </div>
    
      <!-- Slot 2: Add / Submit Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step === 3 || step === 4 || step === 5"
          class="third-width"
          (click)="openAddModal()">
          Add
        </ion-button>
    
        <ion-button
          *ngIf="step === 6"
          class="third-width"
          (click)="submitTournament()">
          Submit
        </ion-button>
      </div>
    
      <!-- Slot 3: Next Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step !== 6"
          class="third-width"
          (click)="nextStep()">
          Next
        </ion-button>
      </div>
    </div>
    
  </div>
</ion-content>
  
<ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
  
  