<ion-content class="ion-padding page-with-header">
  <div class="page-container">
    <div *ngIf="step === 1">
      <app-stage-input-type
        [tournamentForm]="tournamentForm"
        [isEditMode]="isEditMode"
        [isPredefinedTournament]="false"
        (teamsExtracted)="handleTeamsExtracted($event)"
        (matchesExtracted)="handleMatchesExtracted($event)"
        (stagesExtracted)="handleStagesExtracted($event)"
        (tournamentSelected)="populateForm($event)"
        (tournamentUpdateRequested)="handleTournamentUpdate()">
      </app-stage-input-type>   
    </div>

    <div *ngIf="step === 2">
      <app-stage-settings
        [settings]="tournamentForm.value.settings"
        (settingsUpdated)="handleSettingsUpdated($event)">
      </app-stage-settings>
    </div>
  
    <div *ngIf="step === 3">
      <app-stage-teams-management
        [teamsArray]="teamsArray"
        (teamsUpdated)="handleTeamsUpdated($event)">
      </app-stage-teams-management>
    </div>
    
    <div *ngIf="step === 4">
      <app-stage-stages-management
        [stagesArray]="stagesArray"
        (stagesUpdated)="handleStagesUpdated($event)">
      </app-stage-stages-management>
    </div>

    <div *ngIf="step === 5">
      <app-stage-matches-management
        [matchesArray]="matchesArray"
        [teamsArray]="teamsArray.value"
        [stagesArray]="stagesArray.value"
        [includeHomeAdvantage]="tournamentForm.get('includeHomeAdvantage')?.value === true"
        (matchesUpdated)="handleMatchesUpdated($event)">
      </app-stage-matches-management>
    </div>
  
    <div *ngIf="step === 6">
      <app-stage-users-management
        [usersArray]="usersArray"
        (usersUpdated)="handleUsersUpdated($event)">
      </app-stage-users-management>
    </div>

    <div *ngIf="step === 7">
      <app-stage-summary
        [tournamentName]="tournamentForm.get('tournamentName')?.value"
        [teamsArray]="teamsArray.value"
        [matchesArray]="matchesArray.value"
        [usersArray]="usersArray.value">
      </app-stage-summary>
    </div>
  </div>

  <div class="button-container">
    <div class="button-inner">
      <!-- Previous Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step !== 1"
          color="medium"
          class="third-width"
          (click)="prevStep()">
          {{ 'BUILD_CUSTOM.PREVIOUS' | translate }}
        </ion-button>
      </div>
  
      <!-- Add / Submit Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step === 3 || step === 4 || step === 5 || step === 6"
          class="third-width"
          color="medium"
          (click)="openAddModal()">
          {{ 'BUILD_CUSTOM.ADD' | translate }}
        </ion-button>
  
        <ion-button
          *ngIf="step === 7"
          class="third-width"
          color="dark"
          (click)="submitTournament()">
          {{ 'BUILD_CUSTOM.SUBMIT' | translate }}
        </ion-button>
      </div>
  
      <!-- Next Button -->
      <div class="button-slot">
        <ion-button
          *ngIf="step !== 7"
          color="medium"
          class="third-width"
          (click)="nextStep()">
          {{ 'BUILD_CUSTOM.NEXT' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>