<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TOURNAMENT_SELECTION.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'TOURNAMENT_SELECTION.CANCEL' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let tournament of predefinedTournaments" (click)="selectTournament(tournament.tournamentId)">
      <ion-label>{{ tournament.tournamentName }}</ion-label>

      <!-- Green LIVE badge -->
      <ng-container *ngIf="tournament.hasLiveUpdates">
        <ion-text color="success" slot="end">
          <strong>LIVE</strong>
        </ion-text>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
