
  
  ion-item {
    --background: #ffffff;
    --border-radius: 10px;
    margin: 10px 0;
    --padding-start: 5px !important;
    padding-left: 0px !important;
  }
    
  .danger-button {
    color: red;
  }
  
  .spacer {
    height: 20px;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full page height */
    width: 100%;
  }
  
  .loading-spinner {
    width: 64px !important;  /* Increase size */
    height: 64px !important; /* Increase size */
  }


  