.match-list {
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .match-item {
    --inner-padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    --ion-item-background: transparent;
    
    height: 60px;
    --min-height: 60px !important;
    --max-height: 60px !important;
    display: flex;
    align-items: center;
  }
  
  .match-grid {
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-right: 0px;
  }
  
  .match-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    color: #333;
  }
  
  .match-date {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: #666;
  }
  
  .match-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .match-button {
    font-size: 12px;
    height: 30px;
    padding-left: 8px;
    padding-right: 0px !important;
    min-width: 90px;
  }

  .no-matches {
    text-align: center;
    font-size: 1.2em;
    color: gray;
    margin-top: 20px;
  }  