<ion-content fullscreen (ionScroll)="onScroll($event)" scrollEvents="true">
  <div class="parallax-container">

    <!-- Parallax Background -->
    <div class="parallax-bg" [ngStyle]="{ 'transform': 'translateY(' + parallaxOffset + 'px)' }"></div>

    <!-- Foreground Content -->
    <div class="unauth-container">
      <h2>{{ 'RESET.TITLE' | translate }}</h2>
      <p class="reset-text">{{ 'RESET.DESCRIPTION' | translate }}</p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitNewPassword()">
        <!-- New Password -->
        <ion-item>
          <ion-label position="floating">{{ 'RESET.NEW_PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['password'].invalid && f['password'].touched">
            {{ 'RESET.PASSWORD_ERROR' | translate }}
          </p>
        </div>

        <!-- Confirm Password -->
        <ion-item>
          <ion-label position="floating">{{ 'RESET.CONFIRM_PASSWORD' | translate }}</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
        <div class="validation-message">
          <p class="error" *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched">
            {{ 'RESET.CONFIRM_ERROR' | translate }}
          </p>
        </div>

        <div class="button-group">
          <ion-button expand="full" color="medium" class="rounded-button" type="submit" [disabled]="resetPasswordForm.invalid">
            {{ 'RESET.BUTTON' | translate }}
          </ion-button>
        </div>
      </form>

      <p class="back-link">
        <a (click)="navigateToLogin()">{{ 'RESET.BACK' | translate }}</a>
      </p>
    </div>

  </div>
</ion-content>

<app-language-fab></app-language-fab>
