<ion-content class="ion-padding">
  <div class="unauth-container">
    <h2>Reset Password</h2>
    <p class="reset-text">Enter your new password below.</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitNewPassword()">
      <!-- New Password -->
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="validation-message">
        <p class="error" *ngIf="f['password'].invalid && f['password'].touched">
          Password must be at least 8 characters.
        </p>
      </div>

      <!-- Confirm Password -->
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>
      </ion-item>
      <div class="validation-message">
        <p class="error" *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched">
          Passwords must match.
        </p>
      </div>

      <div class="button-group">
        <ion-button expand="full" color="primary" class="rounded-button" type="submit" [disabled]="resetPasswordForm.invalid">
          Reset Password
        </ion-button>
      </div>
    </form>

    <p class="back-link">
      <a (click)="navigateToLogin()">Back to Login</a>
    </p>
  </div>
</ion-content>
