<ion-content class="ion-padding page-with-header">
  <div class="page-container">
    <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">

      <!-- Tournament Updates -->
      <div class="grid-frame">
        <ion-grid class="settings-grid">
          <ion-row class="align-center">
            <ion-col size="12" class="section-title">Tournament Updates</ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">Tournament results recalculated</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailMatchClosed"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushMatchClosed"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">Daily tournament updates</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailDailyUpdates"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushDailyUpdates"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">Tournament invitations</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailTournamentInvitation"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushTournamentInvitation"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Betting Reminders -->
      <div class="grid-frame">
        <ion-grid class="settings-grid">
          <ion-row class="align-center">
            <ion-col size="12" class="section-title">Betting Reminders</ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">Pending bets reminder</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailPendingBets"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushPendingBets"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">New games to bet</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailNewGames"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushNewGames"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Promotions -->
      <div class="grid-frame">
        <ion-grid class="settings-grid">
          <ion-row class="align-center">
            <ion-col size="12" class="section-title">Promotions</ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">Special offers</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailSpecialOffers"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushSpecialOffers"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Submit Button -->
      <ion-button expand="full" color="primary" type="submit" [disabled]="!notificationForm.valid">
        Save Settings
      </ion-button>
    </form>
  </div>
</ion-content>
