<ion-content class="ion-padding page-with-header">
  <div class="page-container">
    <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">

      <!-- Tournament Updates -->
      <div class="grid-frame">
        <ion-grid class="settings-grid">
          <ion-row class="align-center">
            <ion-col size="6" class="section-title">
              {{ 'NOTIFICATIONS.TOURNAMENT_UPDATES' | translate }}
            </ion-col>
            <ion-col size="3" class="center-text section-title">
              {{ 'NOTIFICATIONS.EMAIL' | translate }}
            </ion-col>
            <ion-col size="3" class="center-text section-title">
              {{ 'NOTIFICATIONS.PUSH' | translate }}
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">{{ 'NOTIFICATIONS.MATCH_CLOSED' | translate }}</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailMatchClosed"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushMatchClosed"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">{{ 'NOTIFICATIONS.DAILY_UPDATES' | translate }}</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailDailyUpdates"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushDailyUpdates"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">{{ 'NOTIFICATIONS.TOURNAMENT_INVITES' | translate }}</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailTournamentInvitation"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushTournamentInvitation"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Betting Reminders -->
      <div class="grid-frame">
        <ion-grid class="settings-grid">
          <ion-row class="align-center">
            <ion-col size="12" class="section-title">{{ 'NOTIFICATIONS.BETTING_REMINDERS' | translate }}</ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">{{ 'NOTIFICATIONS.PENDING_BETS' | translate }}</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailPendingBets"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushPendingBets"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">{{ 'NOTIFICATIONS.NEW_GAMES' | translate }}</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailNewGames"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushNewGames"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Promotions -->
      <div class="grid-frame">
        <ion-grid class="settings-grid">
          <ion-row class="align-center">
            <ion-col size="12" class="section-title">{{ 'NOTIFICATIONS.PROMOTIONS' | translate }}</ion-col>
          </ion-row>

          <ion-row class="notification-row">
            <ion-col size="6">{{ 'NOTIFICATIONS.SPECIAL_OFFERS' | translate }}</ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receiveEmailSpecialOffers"></ion-toggle>
            </ion-col>
            <ion-col size="3" class="center-text">
              <ion-toggle formControlName="receivePushSpecialOffers"></ion-toggle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Submit Button -->
      <ion-button expand="full" color="medium" type="submit" [disabled]="!notificationForm.valid">
        {{ 'NOTIFICATIONS.SAVE' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
