ion-content {
  --padding-top: 60px !important;
  --padding-bottom: 0 !important;
  padding: 0 !important;
}

.description {
  color: #555;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  padding: 10px 0;
  text-align: center;
}

.save-button-container {
  margin: 15px;
}
