<ion-content class="ion-padding page-with-header">
  <div class="page-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmitProfile()">

      <!-- Profile Details Frame -->
      <div class="profile-frame">

        <!-- Member Since -->
        <ion-item>
          <ion-label position="stacked">{{ 'PROFILE.MEMBER_SINCE' | translate }}</ion-label>
          <ion-input [value]="memberSince" readonly></ion-input>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-label position="stacked">{{ 'PROFILE.EMAIL' | translate }}</ion-label>
          <ion-input formControlName="email" readonly></ion-input>
        </ion-item>

        <!-- Nickname -->
        <ion-item>
          <ion-label position="stacked">{{ 'PROFILE.NICKNAME' | translate }}</ion-label>
          <ion-input formControlName="nickname" type="text" placeholder="{{ 'PROFILE.NICKNAME_PLACEHOLDER' | translate }}"></ion-input>
        </ion-item>

        <!-- Language -->
        <ion-item>
          <ion-label>{{ 'PROFILE.LANGUAGE' | translate }}</ion-label>
          <ion-select formControlName="language">
            <ion-select-option *ngFor="let lang of availableLanguages" [value]="lang.shortName">
              {{ lang.longName }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Location -->
        <ion-item button (click)="openCountrySelector()">
          <ion-label>{{ 'PROFILE.LOCATION' | translate }}</ion-label>
          <div class="fake-select-value">
            {{ getSelectedCountryName() || ('PROFILE.SELECT_LOCATION' | translate) }}
          </div>
        </ion-item>
        
        <!-- Dark Mode -->
        <ion-item>
          <ion-label>{{ 'PROFILE.DARK_MODE' | translate }}</ion-label>
          <ion-toggle formControlName="darkMode"></ion-toggle>
        </ion-item>

        <!-- Save Button -->
        <ion-button expand="full" color="medium" type="submit" [disabled]="profileForm.invalid">
          {{ 'PROFILE.SAVE' | translate }}
        </ion-button>
      </div>

      <!-- Profile Management Frame -->
      <div class="profile-frame">
        <div class="frame-title">{{ 'PROFILE.MANAGEMENT' | translate }}</div>

        <!-- Change Email Button -->
        <ion-button expand="full" color="dark" (click)="changeEmail()">
          {{ 'PROFILE.CHANGE_EMAIL' | translate }}
        </ion-button>

        <!-- Update Password Button -->
        <ion-button expand="full" color="dark" (click)="updatePasswordPopup()">
          {{ 'PROFILE.UPDATE_PASSWORD' | translate }}
        </ion-button>

        <!-- Delete Account Button -->
        <ion-button expand="full" color="danger" (click)="confirmDeleteAccount()">
          {{ 'PROFILE.DELETE_ACCOUNT' | translate }}
        </ion-button>
      </div>
    </form>
  </div>

  <!-- Spinner when loading -->
  <ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
</ion-content>
