ion-item {
  --background: transparent !important;
  --inner-padding-start: 0px !important;
  --inner-padding-end: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  --min-height: 56px;
  background: none !important;
  margin-bottom: 10px;
}

ion-button{
  margin-top: 15px;
}

.profile-frame {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background 0.3s ease-in-out;
}

.frame-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: left;
}