<div class="page-description">
  <p>
    Edit the teams participating in the tournament. Scroll down to the bottom of the list to add a new team. Click the delete button to remove a team from the list.
  </p>
</div>

<ion-list class="team-list nav-menu-space">
  <ion-item *ngFor="let team of teamsArray.controls; let i = index" class="team-item" [formGroup]="getTeamControl(i)">
    <div class="team-grid">
      <!-- Team Name -->
      <div class="team-details">
        <span class="team-name">{{ getTeamControl(i).get('teamName')?.value }}</span>
      </div>

      <!-- Buttons: Edit and Delete -->
      <div class="team-button-container">
        <ion-button size="small" fill="outline" color="primary" class="team-button" (click)="editTeam(i)">Edit</ion-button>
        <ion-button size="small" fill="outline" color="danger" class="team-button" (click)="removeTeam(i)">Delete</ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>
