.page-description {
  margin-bottom: 1rem;
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

.team-list {
  margin: 1rem 0;
  padding: 0;
}

.team-item {
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-end: 5px !important;
  --padding-start: 5px !important;
  --ion-item-background: transparent;
  --border-width: 0px;
  --inner-border-width: 0px;
  border-radius: 12px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}

.fixed-button {
  width: 80px;
}

.team-status-new {
  background-color: #e6f9e6;
  border-color: #e6f9e6;
  color: #004d00;
}

.team-status-uploaded {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #666;
}

.team-status-updated {
  background-color: #e0ecf8;
  border-color: #e0ecf8;
  color: #004080;
}

.team-status-delete {
  background-color: #fce6e6;
  border-color: #fce6e6;
  color: #800000;
}

.team-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.team-details {
  flex: 3;
  display: flex;
  align-items: center;
  text-align: left;
}

.team-details .team-name {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-button-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.team-button {
  font-size: 12px;
  height: 32px;
  min-width: 75px;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.add-team-container {
  margin-top: 1.5rem;
  text-align: center;
}

.nav-menu-space {
  margin-bottom: 80px;
}

@media (max-width: 600px) {
  .team-list.mobile-view .team-grid {
    flex-direction: row;
    align-items: center;
  }

  .team-list.mobile-view .team-details {
    flex: 4;
  }

  .team-list.mobile-view .team-button-container {
    flex: 1.5;
    gap: 4px;
  }

  .team-list.mobile-view .team-button {
    min-width: 40px;
    height: 32px;
  }

  .team-list.mobile-view .fixed-button {
    width: 40px;
  }
}