<div class="page-description">
  <p>
    {{ 'STAGE_TEAMS_MANAGEMENT.DESCRIPTION' | translate }}
  </p>
</div>

<ion-list class="team-list nav-menu-space" [ngClass]="{ 'mobile-view': isMobile }">
  <ion-item *ngFor="let team of teamsArray.controls; let i = index"
            class="team-item"
            [formGroup]="getTeamControl(i)"
            [ngClass]="getRecordStatusClass(getTeamControl(i).get('recordStatus')?.value)">
    <div class="team-grid">
      <!-- Team Name -->
      <div class="team-details">
        <span class="team-name">{{ getTeamControl(i).get('teamName')?.value }}</span>
        <span class="team-elo">ELO: {{ getTeamControl(i).get('eloRating')?.value ?? 1000 }}</span>
      </div>

      <!-- Buttons: Edit and Delete/Undo -->
      <div class="team-button-container">

        <!-- Edit Button -->
        <ion-button
          size="small"
          fill="outline"
          color="primary"
          class="team-button"
          (click)="editTeam(i)">
          <ng-container *ngIf="!isMobile">
            {{ 'STAGE_TEAMS_MANAGEMENT.EDIT' | translate }}
          </ng-container>
          <ion-icon *ngIf="isMobile" name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <!-- Delete/Undo Button -->
        <ion-button
          size="small"
          fill="outline"
          [color]="getDeleteButtonColor(getTeamControl(i).get('recordStatus')?.value)"
          class="team-button fixed-button"
          (click)="handleRemoveOrUndoTeam(i)">
          <ng-container *ngIf="!isMobile">
            {{ getDeleteButtonText(getTeamControl(i).get('recordStatus')?.value) }}
          </ng-container>
          <ion-icon *ngIf="isMobile" [name]="getDeleteIcon(getTeamControl(i).get('recordStatus')?.value)" slot="icon-only"></ion-icon>
        </ion-button>

      </div>
    </div>
  </ion-item>
</ion-list>
