<div class="tournament-participants-box">
  <h2 class="frame-title">Join Requests</h2>

  <ion-list class="tournament-participants-list" *ngIf="pendingRequests.length > 0">
    <ion-item *ngFor="let participant of pendingRequests" class="tournament-participants-item">
      <div class="tournament-participants-grid">
        <div class="tournament-participants-details">
          {{ participant.userName }}<br />
          <small>{{ participant.userEmail }}</small>
        </div>
        <div class="tournament-participants-actions">
          <ion-button size="small" color="success" (click)="confirmAccept(participant.userEmail)">
            Accept
          </ion-button>
          <ion-button size="small" color="danger" (click)="confirmReject(participant.userEmail)">
            Reject
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <p class="no-participants-message" *ngIf="!isLoading && pendingRequests.length === 0">
    No join requests found.
  </p>

  <ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
</div>
