<div class="tournament-participants-box">
  <h2 class="frame-title">{{ 'USERS_LIST.ACTIVE_PARTICIPANTS' | translate }}</h2>

  <ion-list class="tournament-participants-list" *ngIf="participants.length > 0">
    <ion-item *ngFor="let participant of participants" class="tournament-participants-item">
      <div class="tournament-participants-grid">
        <div class="tournament-participants-details">
          {{ participant.userName }} ({{ participant.role }})<br>
          <small>{{ participant.userEmail }}</small>
        </div>
        <div class="tournament-participants-actions">
          <ion-button size="small" color="danger" (click)="confirmExclude(participant.userEmail)">
            {{ 'USERS_LIST.EXCLUDE' | translate }}
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <p class="no-participants-message" *ngIf="!isLoading && participants.length === 0">
    {{ 'USERS_LIST.NO_PARTICIPANTS' | translate }}
  </p>

  <ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
</div>
