<div class="tournament-message-board-box" (click)="openMessageBoardModal()">
  <h2 class="frame-title">
    {{ 'MESSAGE_BOARD.TITLE' | translate }}
  </h2>

  <ion-list class="tournament-message-list" *ngIf="messages.length > 0; else noMessages">
    <ion-item *ngFor="let msg of messages" class="tournament-message-item">
      <div class="tournament-message-grid">
        <div class="message-meta">
          <span class="author">{{ msg.authorName }}</span>
          <span class="timestamp">{{ msg.createdAt | date: 'yyyy.MM.dd HH:mm' }}</span>
        </div>
        <div class="content">{{ msg.content }}</div>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #noMessages>
    <p class="no-messages">
      {{ 'MESSAGE_BOARD.NO_MESSAGES' | translate }}
    </p>
  </ng-template>
</div>
