<form [formGroup]="tournamentForm" class="form-container">
  <div class="page-description">
    <p>
      Manage tournaments by creating new ones or updating existing ones, with options to customize teams, games, and details.
    </p>
    <p>
      Enter a tournament name and either upload an Excel file or manually add teams and games.
    </p>    
  </div>

  <!-- Tournament Name -->
  <ion-label class="form-label centered">Tournament Name</ion-label>
  <ion-input
    formControlName="tournamentName"
    class="full-width centered-input"
    placeholder="Enter tournament name">
  </ion-input>
  <hr class="divider" />

  <ion-label class="form-label centered">Import Data</ion-label>

  <ion-segment [value]="importMethod" (ionChange)="onImportMethodChange($event)">
    <ion-segment-button value="upload">
      <ion-label>Upload</ion-label>
    </ion-segment-button>
    <ion-segment-button value="append">
      <ion-label>Append</ion-label>
    </ion-segment-button>
  </ion-segment>

   <!-- Import Predefined Tournament --> 
  <div *ngIf="showPredefinedImport">
    <ion-button expand="full" (click)="openTournamentSelection()">Select Tournament</ion-button>
  </div>
    
  <!-- File Upload Button -->
  <div class="file-upload-container centered">
    <ion-button
      color="primary"
      expand="full"
      class="upload-button"
      (click)="triggerFileInput()">
      Select Excel File
    </ion-button>
    <input
      #fileInput
      type="file"
      class="hidden-file-input"
      (change)="handleFileInput($event)">
  </div>
  <hr class="divider" />

  <!-- Erase Form Data Button -->
  <ion-button color="danger" expand="full" class="erase-button" (click)="confirmEraseForm()">
    Erase All Form Data
  </ion-button>
</form>
