.page-description {
  margin-bottom: 1rem;
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds consistent spacing between elements */
}

.form-label {
  font-weight: bold;
  text-align: center; /* Center align the labels */
  margin-bottom: 5px; /* Slight spacing beneath labels */
}

.centered-input {
  text-align: center; /* Center align text inside input */
  width: 100%; /* Keep input full width */
}

.upload-mode-segment {
  margin-bottom: 15px; /* Adds extra space beneath ion-segment */
}

.file-upload-container {
  text-align: center;
  border: 1px dashed var(--ion-color-medium);
  padding: 10px;
  cursor: pointer;
}

.erase-button {
  margin-top: 15px; /* Adds some spacing above the button */
}
