<div class="page-description">
  <p>
    {{ 'STAGE_USERS_MANAGEMENT.DESCRIPTION' | translate }}
  </p>
</div>

<ion-list class="user-list nav-menu-space" [ngClass]="{ 'mobile-view': isMobile }">
  <!-- Show empty row when no users are added -->
  <ion-item *ngFor="let user of filteredUserControls"
            class="user-item"
            [formGroup]="user"
            [ngClass]="getUserStatusClass(user.get('recordStatus')?.value)">
    <div class="user-grid">
      <div class="user-details">
        <span class="user-name">{{ user.get('userName')?.value }}</span>
        <span class="user-email">{{ user.get('userEmail')?.value }}</span>
        <span class="user-status">{{ user.get('status')?.value }}</span>
      </div>

      <div class="user-button-container">
        <ion-button size="small" fill="outline" color="primary" class="user-button" (click)="editUser(user)">
          <ng-container *ngIf="!isMobile">
            {{ 'STAGE_USERS_MANAGEMENT.EDIT' | translate }}
          </ng-container>
          <ion-icon *ngIf="isMobile" name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button size="small" fill="outline"
                    [color]="getDeleteButtonColor(user.get('recordStatus')?.value)"
                    class="user-button fixed-button"
                    (click)="handleRemoveOrUndoUser(user)">
          <ng-container *ngIf="!isMobile">
            {{ getDeleteButtonText(user.get('recordStatus')?.value) }}
          </ng-container>
          <ion-icon *ngIf="isMobile" [name]="getDeleteIcon(user.get('recordStatus')?.value)" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-item>

</ion-list>
