<div class="page-description">
  <p>
    Manage tournament users. Invitations are sent to users without accounts, they must sign up and accept to join.
  </p>
</div>

<ion-list class="user-list nav-menu-space">
  <!-- Show empty row when no users are added -->
  <ion-item *ngIf="usersArray.controls.length === 0" class="user-item empty-user">
    <div class="user-grid">
      <div class="user-details">No users added yet.</div>
    </div>
  </ion-item>

  <!-- List of users -->
  <ion-item *ngFor="let user of usersArray.controls; let i = index" 
            class="user-item" 
            [formGroup]="getUserControl(i)"
            [ngClass]="getUserStatusClass(getUserControl(i).get('recordStatus')?.value)">
    <div class="user-grid">
      <!-- User Details -->
      <div class="user-details">
        <span class="user-name">{{ getUserControl(i).get('userName')?.value }}</span>
        <span class="user-email">{{ getUserControl(i).get('userEmail')?.value }}</span>
        <span class="user-status">{{ getUserControl(i).get('status')?.value }}</span>
      </div>

      <!-- Buttons: Edit and Delete/Undo -->
      <div class="user-button-container">
        <ion-button size="small" fill="outline" color="primary" class="user-button" (click)="editUser(i)">Edit</ion-button>

        <ion-button size="small" fill="outline"
                    [color]="getDeleteButtonColor(getUserControl(i).get('recordStatus')?.value)"
                    class="user-button fixed-button"
                    (click)="handleRemoveOrUndoUser(i)">
          {{ getDeleteButtonText(getUserControl(i).get('recordStatus')?.value) }}
        </ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>
