<!-- Loading Spinner -->
<ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>

<!-- Display Message if No Matches Found -->
<div *ngIf="!isLoading && errorMessage" class="no-matches">
  <p>{{ errorMessage }}</p>
</div>

<ion-list *ngIf="!isLoading && bets.length > 0" class="bet-list">
  <ion-item *ngFor="let bet of bets" class="bet-item">
    <div class="bet-grid">
      <!-- Match Details -->
      <div class="bet-details">
        <span class="team">{{ bet.teamHome }}</span>
        <span class="team">{{ bet.teamAway }}</span>
      </div>

      <!-- Date & Time -->
      <div class="bet-date">
        <span class="date">{{ bet.startTime | date: 'yyyy.MM.dd' }}</span>
        <span class="time">{{ bet.startTime | date: 'HH:mm' }}</span>
      </div>

      <!-- Preview Button (Lupka) -->
      <div class="bet-preview-container">
        <ion-button size="small" class="preview-button" (click)="openBetsOverview(bet)" fill="clear">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </div>

      <!-- Place Bet Button -->
      <div class="bet-button-container">
        <ion-button size="small" class="bet-button" (click)="editBet(bet, $event)">Place Bet</ion-button>
      </div>
    </div>
  </ion-item>
</ion-list>