  <ion-list class="bet-list" *ngIf="!isLoading">
    <ion-item *ngFor="let bet of bets" class="bet-item">
      <div class="bet-grid">

        <div class="bet-details">
          <span class="team">{{ bet.teamHome }}</span>
          <span class="team">{{ bet.teamAway }}</span>
        </div>
        
        <div class="bet-date">
          <span class="date">{{ bet.startTime | date: 'yyyy.MM.dd' }}</span>
          <span class="time">{{ bet.startTime | date: 'HH:mm' }}</span>
        </div>

        <div class="bet-button-container">
          <ion-button size="small" class="bet-button" (click)="editBet(bet, $event)">Place Bet</ion-button>
        </div>

      </div>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="isLoading" class="loading-spinner" name="crescent"></ion-spinner>
